body{
  margin:0px;
  padding: 0.5em;
  background-color:#F6F3E9;
  font-size:30px;
  font-family:Arial, Helvetica, sans-serif;
}


.calibreToc{
  float:left;
  margin:20px;
  width:95%;
  background-color:#e6e6ff;
  color:white;
  

}

.calibreEbookContent{
  width:100%;
  float:left;
}

.calibreMeta{
  background-color:#39322B;
  color:white;
  padding:10px;
}

.calibreMeta a, .calibreEbNav a, .calibreEbNavTop a, .calibreToc a{
  color:black;
}

.calibreMeta h1{
  margin:0px;
  font-size:18px;
  background-color:#39322B;
}
