@font-face {
    font-family: 'BloggerSans';
    src: url('https://jdmccay.github.io/NET/jo_chd3o_files/blogger-sans/BloggerSans.eot'); /* IE9 Compat Modes */
    src: url('https://jdmccay.github.io/NET/jo_chd3o_files/blogger-sans/BloggerSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('https://jdmccay.github.io/NET/jo_chd3o_files/blogger-sans/BloggerSans.woff') format('woff'), /* Modern Browsers */
         url('https://jdmccay.github.io/NET/jo_chd3o_files/blogger-sans/BloggerSans.ttf') format('truetype'), /* Safari, Android, iOS */
         url('https://jdmccay.github.io/NET/jo_chd3o_files/blogger-sans/BloggerSans.svg#BloggerSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body{
  margin:0px;
  padding: 1em;
  background-color:#ffffff;
  font-size:3em;
  font-family:BloggerSans;
  width:device-width;
border-radius: 25px;
}


.calibreToc{
  display: none;
  visibility: hidden;
  float:left;
  margin:30px;
  width:95%;
  background-color:transparent;
  color:white;
  border-radius: 25px;


}

.calibreEbookContent{
  width:100%;
 border-radius: 25px;
}

.calibreMeta{
  background-image: linear-gradient(to right, #0F517F , #1E2328);
  color:white;
  padding:10px;
border-radius: 25px;
}

.calibreMeta a, .calibreEbNav a, .calibreEbNavTop a, .calibreToc a{
  color:black;
}

.calibreMeta h1{
  margin:0px;
  font-size:.5em;
  
 
}
.calibreEbNav, .calibreEbNavTop{
  clear:both;
  background-color:white;
  color:003366;
  padding:10px;
  text-align:center;
position:fixed;
bottom:0;
border-radius: 25px;
 
bottom:0;
width:90%;
word-spacing:10px;
}

a:link, a:visited {
  background-image: linear-gradient(to right, #0F517F , #1E2328);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
border-radius: 25px;
margin:2px;
}

a:hover, a:active {
  background-color: blue;
}

.calibre {
  display: block;
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}
.calibre1 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}
.calibre2 {
  line-height: 1.2;
}
.calibre3 {
  display: block;
  font-size: 1.125em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 6pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6pt;
  text-align: center;
}
.calibre4 {
  border-collapse: collapse;
  border-spacing: 2px;
  display: table;
  horizontal-align: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  text-indent: 0;

  
}
.calibre5 {
  display: table-row;
  vertical-align: middle;

}
.calibre6 {
  border-bottom-color: currentColor;
  border-bottom-style: inset;
  border-bottom-width: 1px;
  border-left-color: currentColor;
  border-left-style: inset;
  border-left-width: 1px;
  border-right-color: currentColor;
  border-right-style: inset;
  border-right-width: 1px;
  border-top-color: currentColor;
  border-top-style: inset;
  border-top-width: 1px;
  color: gray;
  display: block;
  height: 2px;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;

}
.calibre7 {
  display: block;
  line-height: 1.2;
}
.calibre8 {
  font-weight: bold;
}
.calibre9 {
  font-size: 0.75em;
  line-height: 1.2;
  vertical-align: super;
}
.calibre10 {
  font-style: italic;
}
.calibre11 {
  display: block;
}
.center {
  display: block;
  margin-bottom: 3pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
  text-align: center;
  text-indent: 18pt;
}
.chap {
  border-bottom-color: currentColor;
  border-bottom-style: none;
  border-bottom-width: 0;
  border-left-color: currentColor;
  border-left-style: none;
  border-left-width: 0;
  border-right-color: currentColor;
  border-right-style: none;
  border-right-width: 0;
  border-top-color: currentColor;
  border-top-style: none;
  border-top-width: 0;
  display: table-cell;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  text-align: inherit;
  vertical-align: inherit;
font-size:1em;
}
.hebrew {
  font-family: "Ezra SIL";
}
.lamhebrew {
  display: block;
  font-weight: bold;
  margin-bottom: 6pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 6pt;
  text-align: left;
  text-indent: 18pt;
}
.paragraphtitle {
  display: block;
  font-style: italic;
  margin-bottom: 6pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 12pt;
  text-align: left;
  text-indent: 18pt;
}
.poetry {
  display: block;
  margin-bottom: 3pt;
  margin-left: 18pt;
  margin-right: 18pt;
  margin-top: 3pt;
  text-indent: 18pt;
}
.psasuper {
  display: block;
  font-style: italic;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-right: 18pt;
  margin-top: 1em;
  text-indent: 18pt;
}
.quote {
  display: block;
  margin-bottom: 6pt;
  margin-left: 18pt;
  margin-right: 18pt;
  margin-top: 1em;
  text-indent: 18pt;
}
.smcaps {
  font-variant: small-caps;
}

.calibreToc h2 {
position:fixed;
top:0;
right: 10px;
font-size: .75em;

}

